---
const { id, title, creators, thumbnailName } = Astro.props;
import { Image } from "astro:assets";

let imagePath;
if (thumbnailName) {
    imagePath = `/covers/sm/${thumbnailName}`;
} else {
    imagePath = "/default_sm.jpg";
}
---

<div class="book-card">
    <figure>
        <a href=`/download/${id}`>
            <img
                src={imagePath}
                alt=`The cover art for ${title}`
                loading="lazy"
                class="cover"
            />
        </a>
        <div class="title">
            <p class="title-component">
                {title}
            </p>
            <p class="title-component">
                by {creators.join(", ")}
            </p>
        </div>
    </figure>
</div>

<style>
    .book-card {
        max-width: 200px;
        margin: 3px;
        padding: 2px;
        border: 2px;
        border-radius: 6px;
        border-color: darkslategrey;
        border-style: solid;
        display: flex;
        justify-content: center;
    }

    .cover {
        border: 1px;
        border-radius: 6px;
        border-style: solid;
        border-color: midnightblue;
        display: flex;
        justify-content: center;
        width: 175px;
    }

    .title {
        align-self: baseline;
        display: flex;
        flex-direction: column;
    }

    .title-component {
        margin: auto;
        padding: 10px;
        text-align: center;
        line-height: 1.1rem;
    }
</style>
