---
import BookCard from "./BookCard.astro";
import Stats from "./Stats.astro";

type Book = {
    id: string;
    title: string;
    thumbnail_name: string;
    creators: Array<string>;
};

const sort = Astro.url.searchParams.get("sort") || "recent";

const apiEndpoint: string = import.meta.env.API_BASE_URL
    ? import.meta.env.API_BASE_URL
    : "http://api";

const response = await fetch(`${apiEndpoint}/list-books?sort=${sort}`);
const data: Array<Book> = await response.json();
const books: Number = data.length
---
<Stats books={books} />
<section class="books">
    <div class="book-card-grid">
        {
            data.map((data) => (
                <BookCard
                    id={data.id}
                    title={data.title}
                    creators={data.creators}
                    thumbnailName={data.thumbnail_name}
                />
            ))
        }
    </div>
</section>

<style>
    .books {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }
    .book-card-grid {
        display: grid;
        width: 95%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 10px;
        row-gap: 2px;
    }
</style>
